html {
  scroll-behavior: smooth;
}

body,
html,
input,
textarea,
select {
  color: $default;
  line-height: $base-lineheight;
  font-size: $base-fontsize;
  font-family: $body-font;
  font-weight: 400;
  @media (max-width: 1199px) {
    font-size: 16px;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

div[data-space] {
  clear: both;
  width: 100%;
}
.font-italic {
  font-style: italic;
}
.text-right {
  text-align: right;
}
.text-highlight {
  color: $highlight;
}
.text-saffron {
  color: $saffron;
}
.text-seagreen {
  color: $seagreen;
}
strong,
b {
  font-weight: 700;
}
.font20 {
  font-size: 1.052rem;
  line-height: 1.5em;
  p {
    font-size: 1em;
    line-height: 1.5em;
  }
}
.font22 {
  font-size: 1.157rem;
  line-height: 1.5em;
  p {
    font-size: 1em;
    line-height: 1.5em;
  }
}
.font24 {
  font-size: 1.26rem;
  line-height: 1.5em;
  p {
    font-size: 1.26rem;
    line-height: 1.5em;
  }
}
blockquote {
  padding-left: 1.1rem;
  margin-bottom: 1.65rem;
  margin-left: -1.2rem;
  position: relative;
  font-size: 1.47rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.48em;
  color: #7a7a7a;
  @media (max-width: 767px) {
    font-size: 1.25rem;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    width: 5px;
    background: linear-gradient(178.76deg, #1edac9 17.26%, #14b5ff 80.68%);
    border-radius: 10px;
    height: 100%;
  }
  p {
    font-size: 1.47rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.48em;
    color: #7a7a7a;
    margin-bottom: 1.4em;
    @media (max-width: 767px) {
      font-size: 1.25rem;
    }
  }
}

.post_img {
  margin-bottom: 1.2rem;
  .img_caption {
    font-style: italic;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.639em;
    color: $default;
  }
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  &.reverse {
    flex-direction: row-reverse;
  }
}

p,
ul,
li {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1.75em;
}

ul {
  padding-left: 0;
  margin-left: 1.5rem;
}

li {
  margin-bottom: 0;
}

a {
  outline: medium none;
  text-decoration: none;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  color: $highlight;
  &:hover {
    color: $highlight;
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-weight: 700;
  line-height: 1.01em;
  padding-bottom: 0.45em;
  font-family: $header-font;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  padding: 0 0.92em;
  border: none;
  height: $line-height-desktop;
  line-height: $line-height-desktop;
  font-family: $button-font;
  text-align: center;
  background: $highlight;
  font-weight: 700;
  font-size: 1.157rem;
  text-transform: uppercase;
  color: #ffffff;
  &.withIcon {
    padding-right: $line-height-desktop + 20;
    i {
      background: $saffron;
      color: #000;
      width: $line-height-desktop - 3;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      line-height: $line-height-desktop;
      text-align: center;
    }
  }
  &.sml {
    height: $line-height-mobile - 8;
    line-height: $line-height-mobile - 8;
    font-size: 0.75rem;
    padding: 0 1.5em;
  }
  &.blue {
    background: $blue;
  }
  &.btn-oxford {
    background: $oxford;
  }
  &.btn-seagreen {
    background: $seagreen;
  }
  &.btn-saffron {
    background: $saffron;
    color: #000;
  }
  &.btn-blank {
    background: none;
    color: $saffron;
    padding: 0;
  }
  &.inactive {
    background: linear-gradient(0deg, #0a0e32, #0a0e32),
      linear-gradient(272.16deg, #2e3254 -12.07%, #434a80 82.49%) !important;
    opacity: 1;
    pointer-events: none;
    color: #a4a8ce;
  }
  &.btn-outline-grey,
  &.btn-outline-black,
  &.btn-outline-white {
    line-height: $line-height-desktop - 4px;
    background: none !important;
    &.sml {
      line-height: $line-height-mobile - 4px;
    }
  }
  &.btn-outline-black {
    background: none;
    border: 2px solid #000;
    color: #666;
  }
  &.btn-outline-grey {
    background: none !important;
    border: 2px solid #666;
    color: #666;
  }
  &.btn-outline-white {
    background: none;
    border: 2px solid #fff;
    color: #fff;
  }
  @media (max-width: 991px) {
    line-height: $line-height-mobile;
    height: $line-height-mobile;
    font-size: 1rem;
    &.btn-outline-grey,
    &.btn-outline-black,
    &.btn-outline-white {
      line-height: $line-height-mobile - 4px;
      &.sml {
        line-height: $line-height-mobile - 4px;
      }
    }
  }
}

main {
  position: relative;
  padding: 2.9rem 0 3rem;
  .button {
    margin: 0;
  }
  .content {
    width: 50%;
    flex-grow: 1;
    padding-right: 6%;
    @media (max-width: 767px) {
      width: 100%;
      padding-right: 0;
      padding-bottom: 2rem;
    }
  }
  .sidebar {
    width: 33.7%;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}
.row {
  margin: 0 -20px;
  .col {
    padding-left: 20px;
    padding-right: 20px;
  }
}
section {
  padding: 2.85rem 0 1.87rem;
  font-size: $base-fontsize;
  position: relative;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  @media (min-width: 768px) {
    padding: 2.85rem 0 1.87rem;
  }
  @media (min-width: 992px) {
    padding: 2.85rem 0 1.87rem;
  }
  @media (min-width: 1200px) {
    padding: 2.85rem 0 1.87rem;
  }
  &.section-dark {
    color: #fff;
  }
  .container {
    position: relative;
    z-index: 9;
    form,
    .row {
      .button {
        margin-top: 0;
      }
    }
  }
}

.sectionTitle {
  font-weight: 700;
  font-size: 2.89rem;
  line-height: 1.03em;
  padding-bottom: 0.22em;
  &.sml {
    font-size: 2.57rem;
  }
  @media (max-width: 1199px) {
    font-size: 2.5rem;
    &.sml{
      font-size: 2.2rem;
    }
  }
  @media (max-width: 991px) {
    font-size: 2.125rem;
    &.sml{
      font-size: 1.85rem;
    }
  }
  @media (max-width: 767px) {
    font-size: 1.85rem;
  }
}
.sectionTagline {
  font-weight: 500;
  font-size: 1.473rem;
  line-height: 1.4em;
  color: #5c5c5c;
}
.logosTitle {
  color: #000;
  font-weight: 700;
  font-size: 2.42rem;
  line-height: 1.1em;
  @media (max-width: 767px) {
    font-size: 2rem;
  }
}
.sleepStoryTitle {
  font-weight: 700;
  font-size: 1.736rem;
  line-height: 1.1em;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  @media (max-width: 767px) {
    &.flex {
      display: block;
    }
  }
  .row {
    padding: 0;
  }
  .text-default {
    color: $default;
  }
}

.button {
  &:hover,
  &:focus {
    border-color: $highlight;
    background: $highlight;
    color: #fff;
  }
}

.social-share {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    margin: 0 0 0 0.29em;
    font-size: 1.5rem;
    @media (max-width: 1199px) {
      font-size: 1.785rem;
    }
    @media (max-width: 991px) {
      font-size: 1.4rem;
    }
    a {
      color: $default;
    }
    &.facebook {
      .button {
        background: $facebook-blue;
        border-color: $facebook-blue;
      }
    }
    &.twitter {
      .button {
        background: $twitter-blue;
        border-color: $twitter-blue;
      }
    }
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}
.row {
  margin: 0 -20px;
  .col {
    padding-left: 20px;
    padding-right: 20px;
  }
}

header {
  padding: 1rem;
  position: relative;
  z-index: 90;
  display: flex;
  align-items: center;
  justify-content: space-between;

  #headerLogo {
    display: inline-block;
    width: 170px;
    padding: 0 5px;
    margin: 0 1rem 0 0;

    @media (max-width: 575px) {
      width: 125px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  nav {
    position: relative;
    margin: 1rem 0;
    display: inline-block;
    font-weight: 700;

    #toggle-menu {
      display: none;
      font-size: 1.25em;
      padding: 0 10px;
      color: #666;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      height: 4rem;
      line-height: 4rem;

      &:hover,
      &:focus {
        background: $btn-color;
        color: #fff;
        text-decoration: none;
      }

      @media (max-width: 767px) {
        display: inline-block;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      @media (max-width: 767px) {
        display: none;
        position: absolute;
        background: #f3f3f3;
        width: 200px;
        z-index: 99;
        right: 0;
      }

      li {
        display: inline-block;
        margin: 5px;

        @media (max-width: 767px) {
          width: 100%;
          margin: 0;
          padding: 0;
        }

        &.social {
          font-size: 1.65em;
          vertical-align: middle;
          margin: 2px;
          font-weight: normal;

          @media (max-width: 767px) {
            width: auto;
            margin: 0;
          }
        }

        a {
          padding: 5px;
          color: #333;

          &:hover,
          &:focus {
            text-decoration: underline;
          }

          @media (max-width: 767px) {
            display: block;
            padding: 10px;

            &:hover,
            &:focus {
              background: darken(#f3f3f3, 10%);
            }
          }
        }
      }
    }

    .button {
      background: $blue;
      border-color: $blue;
      @media (max-width: 767px) {
        padding: 0;
        border-radius: 0;
        width: 100%;
      }
    }
  }
}

#banner {
  position: relative;
  video {
    object-fit: cover;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
  }
  .video-wrapper iframe {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container {
    z-index: 9;
    position: relative;
  }
  h1,
  h2 {
    font-weight: 700;
    font-size: 3.68rem;
    line-height: 1em;
    color: #ffffff;
    padding-bottom: 0;
    .person {
      font-style: italic;
      font-weight: 700;
      font-size: 0.785em;
      line-height: 1em;
      display: inline-block;
    }
    .profession {
      font-style: italic;
      font-weight: 400;
      font-size: 0.328em;
      line-height: 1em;
      display: inline-block;
      margin-left: 0.4em;
    }
    @media (max-width: 1199px) {
      font-size: 3.15rem;
    }
    @media (max-width: 991px) {
      font-size: 2.6rem;
    }
    @media (max-width: 575px) {
      font-size: 1.87rem;
    }
  }
  .bannerTagline {
    font-weight: 400;
    font-size: 1.684rem;
    line-height: 1.1875em;
    color: #ffffff;
    padding-top: 0.45em;
    @media (max-width: 1199px) {
      font-size: 1.45rem;
    }
    @media (max-width: 767px) {
      font-size: 1.25rem;
    }
    @media (max-width: 575px) {
      font-size: 1.15rem;
    }
  }
  .bannerTxt {
    font-weight: 400;
    font-size: 1.157rem;
    line-height: 1.5em;
    color: #ffffff;
    p {
      font-size: 1em;
      line-height: 1.5em;
    }
    @media (max-width: 575px) {
      font-size: 1.05rem;
    }
  }
}

form {
  &.row {
    margin: 0 -19px;
  }
  .col {
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 20px;
    padding-bottom: 5px;
    &.toggle-label {
      label {
        top: 0;
        left: 19px;
        letter-spacing: 0;
        font-weight: 600;
        font-size: 0.7778rem;
        line-height: 1.35em;
      }
    }
    label {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5em;
      color: #212529;
      margin: 0;
      left: 2rem;
      height: 38px;
      line-height: 38px;
      @media (max-width: 1199px) {
        font-size: 1.14rem;
      }
    }
    input,
    textarea,
    select {
      background: #f5f9fc;
      padding: 0 0.75rem;
      border: solid 1px #3f8ecc;
      font-weight: 300;
      font-size: 1.27778rem;
      color: $default;
      height: 38px;
      line-height: 38px;
      width: 100%;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5em;
      color: #212529;
      border-radius: 0.375rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      &:hover,
      &:focus {
        border: 1px solid #cccccc;
      }
      @media (max-width: 1199px) {
        font-size: 1.14rem;
      }
    }
    textarea {
      height: 146px;
      min-height: 140px;
    }
    .button {
      display: inline-block;
      width: auto;
      padding: 0 0.83em;
    }

    input[type="radio"]:checked + label::before {
      font-weight: 700;
      color: #fff;
    }
  }
  .checkboxes_group {
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 22px !important;
    @media (max-width: 575px) {
      display: block;
      text-align: left;
    }
    .checkbox {
      margin: 0;
      padding-top: 0;
      @media (max-width: 575px) {
        text-align: left;
      }
      label {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5em;
        color: #212529;
        position: relative;
        left: inherit;
        height: auto;
        @media (max-width: 575px) {
          font-size: 1.2rem;
        }
        &:before {
          font-weight: 400;
          font-size: 1.6em;
          vertical-align: middle;
        }
      }
    }
  }
}
.form-check-input[type="radio"] {
  border-radius: 100%;
  width: 18px;
  height: 18px;
  padding: 0;
  margin-right: 5px;
}

#clientLogos {
  padding: 2.25rem 0 2.05rem;
  background: #fff;
  .container-fluid {
    padding: 0;
  }
  #carousel {
    text-align: center;
    transition-timing-function: linear;
  }
  .tns-autowidth {
    display: inline-block;
    vertical-align: top;
  }
  .logos {
    padding-top: 0;
    .tns-item {
      height: 130px;
      padding: 8px 40px 0 40px;
      @media (max-width: 767px) {
        height: 90px;
        padding: 0 15px;
      }
      @media (max-width: 575px) {
        height: 50px;
      }
      .imgBx {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        img {
          object-fit: contain;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}

#signup {
  padding: 2rem 0;
  background: darken($default, 5%);
}

#formSection {
  background: #333;

  .container {
    max-width: 1000px;
  }

  .checkbox {
    color: #fff;

    input[type="checkbox"]:checked + label:before {
      color: $blue;
    }
  }

  .button {
    background: $blue;
    border-color: $blue;
  }
}

footer {
  padding: 3rem 0 6rem;
  text-align: center;
  background: #fff;
  #copyright {
    padding-top: 1.4rem;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5em;
    text-align: center;
    color: #474747;
    a {
      color: #027c8f;
    }
  }
}

.mfp-bg {
  background: $default;
}

//* {
//  transition: filter .25s;
//}
//.mfp-wrap ~ * {
//  filter: blur(10px);
//}

#inquire {
  background: #fff;
  padding: 5%;

  .button {
    margin-top: 1rem;
  }
}
.brentQuote {
  font-style: italic;
  font-weight: 400;
  font-size: 1.263rem;
  line-height: 1.541em;
  @media (max-width: 991px) {
    font-size: 1.05rem;
  }
}
.quoteName {
  font-weight: 700;
  font-size: 1.105rem;
  line-height: 1.2em;
  text-transform: uppercase;
  padding-top: 1.26em;
}
ul.checklist {
  margin-left: 0;
  margin-bottom: 0.55rem;
  list-style: none;
  li {
    font-weight: 700;
    padding-left: 2.5em;
    position: relative;
    padding-bottom: 0.8em;
    padding-top: 0.18em;
    &:before {
      content: "\f00c";
      font-family: "Font Awesome 6 Free";
      position: absolute;
      left: 0;
      line-height: 1em;
      font-size: 1.368em;
      top: 0.2em;
    }
  }
}
ul.quality-points {
  margin: 0;
  padding: 0;
  list-style: none;
  @media (max-width: 767px) {
    padding-top: 2rem;
  }
  li {
    position: relative;
    font-weight: 700;
    font-size: 1.315rem;
    line-height: 1em;
    color: #00132d;
    padding-bottom: 0.55em;
    @media (max-width: 991px) {
      font-size: 1.05rem;
    }
    .qualityBx {
      position: relative;
      background: #eaf7ff;
      border-radius: 6px;
      padding: 18px 18px 18px 85px;
      min-height: 70px;
      display: flex;
      align-items: center;
      img {
        position: absolute;
        left: 20px;
      }
    }
  }
}
#products-row {
  .col {
    padding-top: 1.4rem;
  }
  @media (max-width: 991px) {
    margin: 0 -10px;
    .col{
      padding-left: 10px; padding-right: 10px;
    }
  }
}
.productsBx {
  position: relative;
  padding: 1.68rem;
  background: #eaf7ff;
  border-radius: 16px;
  @media (max-width: 991px) {
    padding: 20px;
  }
  .productImg {
    height: 260px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .productMeta {
    padding-top: 1.8rem;
  }
  .productTitle {
    font-weight: 700;
    font-size: 1.736rem;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 0.3em;
    @media (max-width: 1199px) {
      font-size: 1.5rem;
    }
    @media (max-width: 991px) {
      font-size: 1.275rem;
    }
  }
  .productPrice {
    font-weight: 700;
    font-size: 1.05rem;
    line-height: 1.3em;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    label {
      display: block;
    }
    span {
      font-size: 1.2em;
      line-height: 1.3em;
      display: inline-block;
      &.price {
        color: #828282;
      }
      &.sale_price {
        color: #87192d;
      }
    }
    &.withSalePrice {
      span {
        &.price {
          text-decoration: line-through;
        }
      }
    }
  }
  .productBtn {
    padding-top: 0.9rem;
  }
}
#home {
  position: relative;
  #banner {
    padding: 0;
    .container {
      max-width: 1200px;
    }
    &:before {
      display: none;
    }
    .bannerTxtBx {
      max-width: 485px;
      margin-left: auto;
      @media (max-width: 767px) {
        max-width: 100%;
        h2{
          max-width: 340px;
        }
      }
    }
    #bannerHead {
      position: relative;
      padding: 2.95rem 0 2.05rem;
      background: linear-gradient(256.96deg, #062741 -2.16%, #2397a9 75.5%);
    }
    #bannerLogo {
      padding-bottom: 1rem;
    }
    #bannerMid {
      position: relative;
      padding: 2.2rem 0 2.34rem;
      background: #00132d;
    }
    .banner-image {
      position: absolute;
      left: 0;
      bottom: 90px;
      width: 55.5%;
      height: 84.5%; z-index: 9;
      @media (max-width: 1199px) {
        width: 50%;
      }
      @media (max-width: 767px) {
        width: 100%; bottom: inherit; position: relative; height: 55vw; max-height: 350px;
      background: #00132d;
      &:before{
        content: ''; width: 100%; height: 100%; position: absolute; left: 0; top: 0;
        background: linear-gradient(360deg, #00132d 0%, rgba(255, 255, 255, 0) 35%);
      }
      }
      img {
        object-fit: cover;
        object-position: top right;
        width: 100%;
        height: 100%;
      }
    }
    #bannerCTA {
      padding: 1.1rem 0;
      position: relative;
      background: #fff; height: 91px; z-index: 10;
      @media (max-width: 991px) {
        height: auto;
      }
      @media (max-width: 575px) {
        display: block;
      }
      .container {
        display: flex;
        justify-content: center;
        @media (max-width: 1199px) {
          justify-content: flex-start;
        }
        @media (max-width: 767px) {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          height: 227px;
    width: 100%; justify-content: center;
        }
        @media (max-width: 575px) {
          height: auto;
        }
      }
      .ctaBtn {
        margin: 0 2.4rem;
      }
      .ctaBtnLeft {
        order: 1; margin-left: 0;
        @media (max-width: 991px) {
          margin-right: 2rem;
        }
        @media (max-width: 767px) {
          order: 2; margin: 0 0 1rem 0;
        }
      }
      .ctaBtnRight {
        order: 3; margin-right: 0;
        @media (max-width: 991px) {
          margin-left: 0;
        }
      }
      .ctaImg {
        order: 2;
        position: relative;
        width: 174px;
        @media (max-width: 991px) {
          order: 1; width: 145px; margin-right: 2rem;
        }
        @media (max-width: 767px) {
          order: 1;
          flex: 0 0 100%; margin: 0; width: 120px;
        }
        @media (max-width: 575px) {
          margin-bottom: 1rem;
        }
        img {
          position: absolute;
          bottom: -1rem;
          @media (max-width: 767px) {
            position: relative; bottom: 0;
          }
        }
      }
    }
  }
  main {
    padding: 0;
  }

  #sleep-story {
    padding: 0;
    background: linear-gradient(171.63deg, #062741 -29.51%, #2397a9 151.77%);
    & > .container-fluid {
      padding: 0;
    }
    .bg-image {
      width: 46.5%;
      left: inherit;
      right: 0px;
      z-index: 9;
      &:before {
        display: none;
      }
      img {
        object-position: left top;
      }
      @media (max-width: 767px) {
        width: 100%; height: 55vw; max-height: 350px; margin: 0 auto;
        &:before{
          background: linear-gradient(360deg, #062741 0%, rgba(255, 255, 255, 0) 35%); display: block;
        }
        img{
          object-position: center top; width: 70%; margin: 0 auto; display: block;
        }
      }
    }
    #sleep-story-top {
      padding: 1.75rem 0;
      position: relative;
      color: #fff;
      background: linear-gradient(171.63deg, #062741 -29.51%, #2397a9 151.77%)
    }
    #sleep-story-bot {
      padding: 1.55rem 0 1.7rem;
      position: relative;
      color: #fff;
      background: #00132d;
    }
  }

  #sleep-remedy {
    padding: 3.6rem 0 0.5rem;
    background: #fff;
  }

  #lets-admit {
    padding: 0.6rem 0 0;
    position: relative;
    background: #fff;
    &:before {
      content: "";
      background-image: url(/img/logo_leaf.png);
      position: absolute;
      width: 258px;
      height: 258px;
      opacity: 0.2;
      left: 47.6%;
      top: 11%; background-size: contain; background-position: center;
      @media (max-width: 575px) {
        width: 120px; height: 120px; left: 10px; top: 10px;
      }
    }
    @media (max-width: 767px) {
      padding: 3rem 0;
    }
    .col-image {
      text-align: right;
    }
    .sectionTitle {
      padding-top: 2.1rem;
      max-width: 500px;
    }
  }

  #sleep-formula {
    color: #fff;
    padding: 3.1rem 0 3.05rem;
    background: #00132d;
    .bg-image {
      width: 100%;
      left: 0;
      bottom: 0;
      height: 69%;
      top: inherit;
      &:before {
        display: none;
      }
      img {
        object-position: center top;
      }
      @media (max-width: 767px) {
        height: 55vw; max-height: 350px;
        &:before{
          background: linear-gradient(360deg, #00132d 0%, rgba(255, 255, 255, 0) 35%);
          display: block;
        }
      }
    }
    .sectionTxtBx {
      max-width: 545px;
      margin-left: auto;
      padding-top: 3.6rem;
      @media (max-width: 767px) {
        padding-top: .5rem;
      }
    }
  }

  #quality-product {
    color: #000;
    padding: 2.85rem 0 2.3rem;
    background: #fff;
  }

  #guarantee {
    color: #fff;
    padding: 3.85rem 0 1.87rem;
    position: relative;
    background: #00132D;
    @media (max-width: 767px) {
      padding-top: 0;
    }
    &:before {
      content: "";
      z-index: 9;
      position: absolute;
      width: 202px;
      height: 202px;
      background-image: url(/img/guarantee_seal.png);
      background-position: center;
      background-size: contain;
      left: 50%;
      transform: translateX(-44%);
      @media (max-width: 991px) {
        width: 150px; height: 150px; left: 60%;
      }
      @media (max-width: 575px) {
        width: 100px; height: 100px; left: 10px; transform: translate(0); top: 10px;
      }
    }
    .bg-image {
      width: 100%;
      &:before {
        background: linear-gradient(
          90deg,
          #00132d 6.87%,
          rgba(0, 0, 0, 0) 59.51%
        );
      }
      @media (max-width: 767px) {
img{
  object-position: right top;
}
        &:before{
          background: linear-gradient(360deg, #00132d 0%, rgba(255, 255, 255, 0) 35%);
        }
      }
      @media (max-width: 575px) {
        height: 55vw;
      }
    }
  }

  #sleep-store {
    padding: 3.5rem 0 1.87rem;
    position: relative;
  }

  #latest-news {
    background: #000;

    h2 {
      color: #fff;
    }
    .entry {
      background: #fff;
      padding: 0;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);

      .content {
        padding: 40px;
      }
    }
  }

  .standard-home {
    padding: 20px 0;
    img {
      @media (max-width: 575px) {
        margin-bottom: 20px;
      }
    }
  }
}
#hassle-free {
  color: #fff;
  padding: 4.25rem 0 4.5rem;
  background: #062741;
  @media (max-width: 767px) {
    .text-right{
      text-align: left !important;
      img{
        width: 90px; margin-bottom: 1rem;
      }
    }
    .font24{
      font-size: 1.1rem;
      p{
        font-size: 1.1rem; line-height: 1.5em;
      }
    }
  }
  p {
    margin-bottom: 0.75em;
  }
}
#client-testimonials {
  padding: 1.1rem 0 3rem;
  background: #fff;
  position: relative;
  .container-fluid {
    padding: 0 20px;
  }
}
#testimonials {
  padding-top: 1.5rem;
  position: relative; display: flex;
}

.testimonialBx {
  padding: 1.35rem;
  position: relative;
  display: flex;
  max-width: 492px;
  background: #eaf7ff;
  text-align: left;
  border-radius: 16px;
  align-items: center;
  min-height: 240px; height: 100%;
  @media (max-width: 767px) {
    max-width: 100%;
  } 
  .testimonialImg {
    width: 92px;
    border-radius: 100%;
    overflow: hidden;
    height: 92px;
    background: #ccc;
    @media (max-width: 575px) {
      width: 70px; height: 70px;
    }
    img {
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 100%;
    }
  }
  .testimonialMeta {
    width: 50%;
    flex-grow: 1;
    padding-left: 1.8rem;
    @media (max-width: 575px) {
      padding-left: 1rem;
    }
    .testimonialStars {
      font-size: 1.21rem;
      line-height: 1em;
      color: #2397a9;
      display: inline-block;
      vertical-align: top;
      span {
        display: inline-block;
        vertical-align: top;
      }
    }
    .testimonialTxt {
      font-style: italic;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.21em;
      color: #474747;
      padding-top: 0.45em;
      p {
        font-size: 1rem;
        line-height: 1.21em;
        margin-bottom: 0.8em;
      }
    }
    .testimonialName {
      font-weight: 700;
      font-size: 1.21rem;
      line-height: 1.1rem;
      color: #000000;
      @media (max-width: 575px) {
        font-size: 1.05rem;
      }
    }
  }
}

.list-default {
  #banner {
    padding-bottom: 0;
  }

  main {
    background: #333;
    padding-bottom: 5rem;
    color: #fff;

    .entry {
      background: #fff;
      color: #333;
      padding: 0;
      margin: 1rem 0;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);

      .content {
        padding: 40px;
      }
    }
  }
}

.single-default {
  #banner {
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(360deg, #000 20%, rgba(0, 0, 0, 0.2) 90%);
      z-index: 9;
    }

    @media (max-width: 767px) {
      &:before {
        background: linear-gradient(360deg, #000 30%, rgba(0, 0, 0, 0.2) 100%);
      }
    }

    .container {
      max-width: 900px;
    }
  }

  main {
    .container {
      max-width: 900px;

      p {
        margin: 8px 0;
      }

      h5 {
        font-weight: 400;
      }

      img,
      figure {
        margin-top: 0.5rem;
      }

      .img-fluid {
        width: 100%;
        height: auto;
        img {
          @extend .img-fluid;
        }
      }

      blockquote {
        padding-left: 30px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        position: relative;

        &:before {
          content: "";
          width: 5px;
          height: 100%;
          background: $blue;
          display: block;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
}
