{{ partial "head.html" . }}

<body {{ if .Params.id }}id='{{ .Params.id }}' {{end}}>


    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <ul style="list-style:none;">
                        {{ range where (.Site.RegularPages.ByWeight)  "Type" "promotions"}}

                        <li><a href="{{ .Permalink }}" style="color:#fff">{{ .Title }}</a></li>

                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {{ partial "footer.html" . }}

    {{ partial "scripts.html" . }}

    <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
    <script type="text/javascript">
        KlaviyoSubscribe.attachToForms('#email_signup', {
            hide_form_on_success: true,
            success_url: "https://www.example.com/thank-you"
        });
    </script>

    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>

</body>

</html>